<%- include ../partials/header.ejs %>

  <h1>Books</h1>

  <div class="">
    //function forEach book to show
    //image
    //anchor tag with href link for title
    //author
    //genre
    //delete button
    //edit button
  </div>

<%- include ../partials/footer.ejs %>
