<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <script type="text/javascript">

    </script>
    <title>Simple Book Store</title>
  </head>
  <body>
    <div class="">
      <%- include nav.ejs %>
    </div>
